body {
    box-sizing: border-box;
    display : flex;
    justify-content: center;
    align-items: center;
    min-height : 100vh;

}

div{
    position : absolute;
    border: 3px solid #aaa;
    text-align: center;
    padding : 5px;
    width : 50px;
    height: 50px;
    background-color: aquamarine;
}



article {  
    /* devient la référence on positionner les «div» dans les coins */
    position: relative;
    background-color: bisque;
    /* Le référentiel est l'article */
  
    width : 500px;
    height : 500px;
}

/*
top, bottom, left, right 
*/

.no{
    top:0;
    right:0;
}

.ne{
    top:0;
    left:0;
}

.so{
    bottom:0;
    right:0;
}

.se{
    bottom:0;
    left:0;
}
